*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 18px;
    font-style: Tahoma;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;

}

#container{
    width: 90%;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background-color:aliceblue ;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    border-bottom: 3px solid black;
}

nav ul li{
    float: left;
    margin: 10px;
    list-style: none;
}

nav{
    background-color:#e2cee3; 
    height: 60px;
    line-height: 30px;
    border-bottom: 3px solid black;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 80px);
    background-color:azure;
    min-height: 500px;
    padding: 40px;
}

aside{
    float: left;
    width: calc(20% - 20px);
    background-color: aliceblue;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

footer{
    background-color: lightcoral;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.article p,h3{
    margin-top: 50px;
    margin-bottom: 50px;
}

.article h2{
    text-align: center;
}