*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 18px;
    font-style: Tahoma;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;
}

#container{
    width: 90%;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background-color:aliceblue ;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    border-bottom: 3px solid black;
}

#content{
    background-color:beige;
    min-height: 500px;
    padding: 40px;
}
